.custom{
    padding-top: 50px;
    padding-bottom: 20p;
    font-size: 20px; 
}
.design{
    padding-top: 30px;
    padding-bottom: 20p;
    font-size: 20px; 
}

.info{
    padding-bottom: 50px;   
}


